html, body {
  height: 100%;
}

body {
  background-image: url('img/pattern.gif');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  background-color: rgba(241, 203, 105, 0.34);
}

.post {
  font-size: 18px;
}

.post > p, ul {
  font-size: 18px;
  background-color: rgba(241, 203, 105, 0.34);
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}

.me {
  background-color: rgba(241, 203, 105, 0.34);
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 15px;
}

pre {
  background-color: rgba(241, 203, 105, 0.73);
}

pre * {
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -49px;
  padding-left: 10%;
  padding-right: 10%; 
}

.footer, .push {
  height: 100px;
}

.chunk {height: 30px;}
.big-chunk {height: 100px;}

.footer {
  padding-top: 20px;
  margin-left: 10%;
  margin-right: 10%; 

  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;

  background-color: #F1CB69;
  border: 2px solid rgba(209, 33, 33, 0.34);
}

footer > a, .act, p {
  font-family: font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.red {
  background-color: rgba(209, 33, 33, 0.34);
}

.golden {
  background-color: #F1CB69;
  border: 2px solid rgba(209, 33, 33, 0.34);
}

.center {
  margin: 0px auto !important;
  text-align: center;
}

.justify > * {
  text-align: left;
  padding-left: 10px
}

.spaced {
  padding-top: 10px;
  padding-bottom: 10px;
}

small {
  color: white !important;
}