/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		color: #444;
		font-family: sans;
		background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATElEQVQYV2O0O3X+PwMQHDIzZATRuAAj0QqxmfDghh3YFgWNQ3BbsFpHtEJstjBWnIdY02GIsIYyhdh0f5oZB7aFL30Rfs8QrRCbLQDvfSALXdnbSgAAAABJRU5ErkJggg==);
	}

	h1, h2, h3, h4, h5, h6, h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
		font-family: 'Alfa Slab One', cursive;
		margin-bottom: 20px;
	}

	a {
		color: #4a4;
	}

	a:visited {
		color: #464;
	}

	a:hover {
		color: #6e6;
	}

	.logo {
		text-align: center;
	}

	.logo a {
		font-size: 72px;
		color: red;
		text-decoration: none;
		text-shadow: #000 5px 2px 0;
	}

	.background {
		border: 8px dashed #ada;
		padding: 15px;
		background-color: white;

	}

	.min_height {
		min-height: 500px;
	}

	pre {
		margin-top: 10px;
		border: 1px solid #cccccc;
		background-color: #ffffee;
	}

	.posts {
		list-style: none;
	}

	.posts li {
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-bottom: 2px solid #cdc;
	}

	.posts li small {
		font-weight: bold;
	}
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}