<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>{{ page.title }}</title>
    {%include_css bootstrap%}
    {%include_css autumn%}
    {%include_css blog%}
    {%include_css http://fonts.googleapis.com/css?family=Dosis|ABeeZeeblog%}
    {%include_js bootstrap%}
    {%include_js ganalytics%}
  </head>
  <body>
    <div class='wrapper'>
      <div class='container-fluid'>
        <div class='row-fluid'>
          <div class='span3 center'>
            <div class='golden'>
              <div class='big-chunk'></div>
              <img class='img-polaroid' src='http://s.gravatar.com/avatar/200edcf296d9c93388dc1daae2246984?s=290' />
              <div class='page-header'>
                <h2>
                  Nicolas Oga
                  <small>My blog</small>
                </h2>
              </div>
              <div class='justify'>
                <h3>Posts</h3>
                <ul class='nav nav-pills nav-stacked red'>
                  {% for post in site.posts %}
                  <li>
                    <a class='act' href='{{post.url}}'>{{post.title}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class='chunk'></div>
            <div class='me justify'>
              <p>I'm a web developer with base at Buenos Aires, Argetina, and this is a little place to publish a little bit about what I'm wasting most of my time during the week. Don't expect nothing particularly good.</p>
            </div>
          </div>
          <div class='span8'>
            <div class='big-chunk'></div>
            <div class='page-header'>
              <h1>{{ page.title }}</h1>
            </div>
            <div class='post'>{{ content }}</div>
          </div>
        </div>
        <!-- Plz don't look here, this is a mess :/ -->
        <!-- TODO: clean up -->
      </div>
      <div class='chunk'></div>
      <div class='push'></div>
    </div>
    <div class='footer'>
      <div class='center'>
        <div class='row'>
          <a class='act' href='https://github.com/nicooga'>Git Repos</a>
          |
          <a class='act' href='http://stackoverflow.com/users/1740079/nicooga'>Stackoverflow</a>
          |
          <a class='act' href='http://www.linkedin.com/profile/view?id=109143988&amp;trk=tab_pro'>Linkedin</a>
          |
          <a class='act' href='mailto:2112.oga@gmail.com'>MailMe</a>
        </div>
        <div class='chunk'></div>
        <div class='row'>
          <div class='act' href='http://creativecommons.org/licenses/by/2.5/ar/deed.en'>Creative Commons Attribution 2.5 Argentina</div>
          <a class='cc_by_img' href='http://creativecommons.org/licenses/by/2.5/ar/deed.en' target='_blank'>
            <img alt='Creative Commons Attribution 2.5 Argentina' src='http://i.creativecommons.org/l/by-sa/2.5/ar/88x31.png' />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
