---
layout: default
---

<div class="container">
	<div class="row">
		<div class="threecol">
			<div class="background">
				<div class="g-plusone" data-annotation="inline" data-width=""></div>

				<br/><br/>

				<a href="https://twitter.com/share" class="twitter-share-button" data-via="nicooga" data-size="large">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			</div>
		</div>

		<div class="ninecol last">
			<div class="background">
				<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
				<strong>
				  Written: {{ page.date | date_to_string }}.
				</strong>
				<br/>

				<span class="hidden" itemprop="name">{{ page.title }}</span>
				<span class="hidden" itemprop="description">Blog posts about software and more!</span>

				{{ content }}
			</div>

		</div>
	</div>
</div>

<br/>

<div class="container">
	<div class="row">
		<div class="twelvecol last">
			<div class="background">
				<h2>Related Posts</h2>

				<ul>
				{% for post in site.related_posts limit:3 %}
				  <li>
				    <strong>{{ post.date | date_to_string }}</strong>
				    
				    &raquo; 

				    <a href="{{ post.url }}">{{ post.title }}</a>
				  </li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>